/*source googlefont*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
/*font-family: 'Roboto', sans-serif;*/
.main_btn, .btn-like, .header__btn, form .form__btn, .selection__btn, .menu__detail__btn-dish, .footer__link {
  /******btn & link default style*******/
  border: none;
  text-decoration: none; }

/*************keyframes definition***************/
/******keydrames btn menu*************/
@keyframes menu_apparition {
  0% {
    transform: translateY(70px);
    opacity: 0.1; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
/******keyframes loading spinner*******/
@keyframes loader_disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes main_appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animateC {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes animate {
  0% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(405deg); } }
/************* elements reusable ****************/
.main_btn {
  background-image: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  padding: 20px 25px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 5px gainsboro;
  position: relative;
  z-index: 1; }
  .main_btn:hover::after {
    opacity: 1; }
  .main_btn::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    padding: 32px 25px;
    border-radius: 40px;
    background-image: linear-gradient(#ff93e1, #a16be0);
    box-shadow: 5px 5px 5px #c2c2c2;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms; }

/********favorite button: 2 icons superposition*******/
.btn-like {
  position: absolute;
  right: 30px;
  bottom: 45px;
  z-index: 0;
  height: 40px;
  width: 40px;
  font-size: 2rem;
  cursor: pointer;
  background-color: #fff; }
  .btn-like:active .btn-like__empty {
    transform: scale(1);
    transform-origin: bottom;
    color: #9356dc; }
  .btn-like:active .btn-like__full {
    opacity: 1;
    transform: scale(1); }

.btn-like__full {
  color: #9356dc;
  position: relative;
  z-index: -1;
  bottom: 37px;
  transform-origin: bottom;
  transform: scale(0);
  transition: transform 0.25s; }

.btn-like__empty {
  transition: transform 0.25s, color 0.25s; }

/*box-sizing set up*/
:root {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

/*common styles definition*/
body {
  font-family: "Roboto", "Times New Roman", Times, sans-serif;
  color: #000000;
  font-size: 16pt;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

/***********loading spinner layout************/
.loader {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  animation-name: loader_disappear;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-delay: 1.5s;
  opacity: 1; }

.loading_page {
  animation-name: main_appear;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-delay: 1.5s; }

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #9356dc;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #99e2d0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  .ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #9356dc;
    border-right: 3px solid #9356dc;
    border-radius: 50%;
    animation: animateC 2s linear infinite; }

.ring__span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite; }
  .ring__span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #9356dc;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #9356dc; }

/******************header start*************************/
header {
  height: 50px;
  display: flex;
  position: relative;
  margin: 10px 0; }
  header figure {
    width: 200px;
    align-self: center;
    margin: 0 auto; }

.header__btn {
  height: 50px;
  width: 50px;
  background-color: white;
  cursor: pointer;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.header__btn--visible {
  display: none; }

/******************header end*************************/
/*****************localisation section start**********************/
form {
  background-color: #e8e8e8;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  box-shadow: inset 5px 5px 5px gainsboro; }
  form input {
    border: none;
    font-weight: bold;
    background-color: #e8e8e8; }
    form input:focus {
      outline: none; }
  form .form__btn {
    background-color: #e8e8e8;
    width: 30px; }

/*****************lacalisation section end************************/
/*****************presentation section start*************/
.presentation {
  height: 350px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.presentation__h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center; }

.presentation__text {
  color: grey;
  text-align: center;
  padding-bottom: 10px; }

/*****************presentation section end***************/
/*****************selection section start*************/
.selection {
  height: 450px; }

.selection__h2 {
  padding: 50px 0 30px 30px;
  margin: 0;
  font-size: 2rem; }

.selection__container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 85%;
  margin: 0 auto; }

.selection__btn {
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  position: relative;
  box-shadow: 5px 5px 5px gainsboro; }
  .selection__btn i {
    display: block;
    flex: 0 0 20%;
    font-size: 1.5rem; }
  .selection__btn:hover {
    box-shadow: 5px 5px 5px #c2c2c2; }

.selection__btn__color {
  background-color: whitesmoke; }
  .selection__btn__color i {
    color: grey; }
  .selection__btn__color:hover {
    background-color: #f8f8f8; }

.selection__btn__color--modified {
  background-color: #f2eafb; }
  .selection__btn__color--modified i {
    color: #9356dc; }
  .selection__btn__color--modified:hover {
    background-color: #f4eefc; }

.selection__btn {
  height: 50px; }
  .selection__btn span {
    display: inline-block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #fff;
    background-color: #9356dc;
    font-size: 1rem;
    position: absolute;
    left: -15px; }

/**********media queries***************/
@media screen and (min-width: 650px) {
  .selection {
    margin-bottom: 50px; }

  .selection,
  .selection__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .selection__h2 {
    padding: 50px 0 50px 0; } }
/*****************selection section end***************/
/**********************restaurant list start********************************/
.card_list {
  background-color: whitesmoke;
  padding: 50px 0; }

.article_container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: center; }

.card_list__title {
  font-size: 2rem;
  padding-left: 30px; }

.card_container {
  position: relative;
  height: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gainsboro;
  margin: 20px;
  display: flex;
  max-width: 550px;
  width: 100%; }
  .card_container:hover {
    box-shadow: 5px 5px 5px #c2c2c2; }

.article__card {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  flex: 0 0 100%; }

.article__card__figure {
  border-radius: 20px 20px 0 0;
  margin: 0;
  height: 70%;
  width: 100%; }
  .article__card__figure .new {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #278870;
    background-color: #99e2d0;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px; }
  .article__card__figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0; }

.article__card__content {
  height: 30%;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding-left: 15px; }

.article__card__content__leftCol {
  flex: 0 0 80%; }

.article__card__title {
  margin: 0;
  font-size: 1.5rem; }

.article__card__text {
  margin: 0;
  font-size: 1.25rem;
  padding-top: 10px; }

/**********************restaurant list end**********************************/
/*********************menu page start************************/
.menu-wrapper {
  background-color: whitesmoke; }

/*****bkg layout*****/
.bkg-menu {
  height: 400px;
  position: relative;
  display: flex; }

.bkg-menu__figure {
  width: 100%;
  margin: 0; }
  .bkg-menu__figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }

/*******menu section layout******/
.menu {
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
  position: relative;
  top: -80px;
  padding: 40px 20px 0 20px; }

/**** title layout****/
.menu__card_name {
  font-family: "Shrikhand", "cursive", "Times New Roman", Times, serif;
  font-size: 1rem; }
  .menu__card_name .btn-like {
    top: 60px;
    background-color: whitesmoke; }

/******courses section layout*****/
.menu__detail {
  display: flex;
  flex-direction: column; }

/******courses title layout*****/
.menu__detail__title {
  width: 60px;
  border-bottom: solid 5px #99e2d0;
  font-size: 1.5rem; }

/******** dish btn layout*******/
.menu__detail__btn-dish {
  cursor: pointer;
  position: relative;
  background-color: #fff;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gainsboro;
  display: flex;
  width: 100%;
  max-width: 600px;
  transition: box-shadow 0.5s ease-in-out;
  /*****animation menu****/
  transform-origin: top;
  animation-name: menu_apparition;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  /****hover effect btn menu*****/ }
  .menu__detail__btn-dish--1 {
    animation-delay: 111.1111111111ms; }
  .menu__detail__btn-dish--2 {
    animation-delay: 222.2222222222ms; }
  .menu__detail__btn-dish--3 {
    animation-delay: 333.3333333333ms; }
  .menu__detail__btn-dish--4 {
    animation-delay: 444.4444444444ms; }
  .menu__detail__btn-dish--5 {
    animation-delay: 555.5555555556ms; }
  .menu__detail__btn-dish--6 {
    animation-delay: 666.6666666667ms; }
  .menu__detail__btn-dish--7 {
    animation-delay: 777.7777777778ms; }
  .menu__detail__btn-dish--8 {
    animation-delay: 888.8888888889ms; }
  .menu__detail__btn-dish--9 {
    animation-delay: 1000ms; }
  .menu__detail__btn-dish:hover {
    box-shadow: 5px 5px 5px #c2c2c2; }
  .menu__detail__btn-dish:hover .dish__icon-check {
    transform: scaleX(1); }
    .menu__detail__btn-dish:hover .dish__icon-check i {
      transform: rotate(360deg); }
  .menu__detail__btn-dish:hover .dish__price {
    transform: translateX(-70px); }
  .menu__detail__btn-dish:hover .dish__leftCol {
    width: 60%; }

/****btn title & description layout******/
.dish__leftCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0 0 10px;
  width: 80%;
  height: 100%;
  transition: width 0.2s ease-in-out; }

.dish__title {
  margin: 0;
  font-size: 1.25rem;
  flex: 0 0 50%;
  width: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.dish__detail {
  margin: 0;
  font-size: 1.15rem;
  color: grey;
  flex: 0 0 50%;
  width: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/****btn price layout******/
.dish__price {
  display: block;
  width: 70px;
  font-size: 1.15rem;
  font-weight: bold;
  height: calc(70px - 10px);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.25s ease-in-out; }

/****btn icon check layout******/
.dish__icon-check {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  height: 70px;
  background-color: #99e2d0;
  font-size: 1.5rem;
  border-radius: 0 15px 15px 0;
  border: solid 1.5px #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in-out; }
  .dish__icon-check i {
    color: #fff;
    transform: rotate(60deg);
    transition: transform 0.25s ease-in-out; }

/*****order button layout******/
.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px; }

.order_btn {
  width: 180px; }

/**********media queries***************/
@media screen and (min-width: 576px) {
  .menu__detail {
    display: flex;
    align-items: center; }

  .menu__card_name {
    text-align: center; } }
/*********************menu page end************************/
/***********************footer start*********************/
footer {
  background-color: #383838;
  color: #fff;
  padding: 40px 20px; }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-size: 1.25rem; }
  footer li {
    padding: 5px 0; }
  footer i {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 1rem; }

.footer__title-logo {
  margin: 0;
  font-family: "Shrikhand", "cursive", "Times New Roman", Times, serif;
  font-size: 1.5rem;
  padding-bottom: 20px;
  color: #e6e6e6; }

.footer__link {
  color: #fff; }

/***********************footer end***********************/

/*# sourceMappingURL=styles.css.map */
