/*****************lacalisation section start**********************/

form {
  background-color: darken($background_color, 5%);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  @include box-shadow(
      0,
      $default-offset-x,
      $default-blur,
      $default-shadow-color,
      inset
    )
    //box-shadow: 0px 5px 5px darken($background_color, 20%) inset;
;
}

form input {
  border: none;
  background-color: darken($background_color, 5%);
  &:focus {
    outline: none;
  }
}

.form__btn {
  @extend %border_default;
  background-color: darken($background_color, 5%);
  width: 30px;
}

/*****************lacalisation section end************************/
