/*********************menu page start************************/

.menu-wrapper {
  background-color: $background_color;
}

/*****bkg layout*****/
.bkg-menu {
  height: $bkg-menu-height;
  position: relative;
  display: flex;
}

.bkg-menu__figure {
  width: 100%;
  margin: 0;
  & img {
    display: block;
    object-fit: cover;
    object-position: center 65%;
    width: 100%;
    height: 100%;
  }
}

/*******menu section layout******/

.menu {
  @include border-radius('top', 40px);
  background-color: $background_color;
  position: relative;
  top: -80px;
  padding: 40px 20px 0 20px;
}

/**** title layout****/
.menu__card_name {
  font-family: $font-family-Title;
  font-size: $font-size-regular;
  & .btn-like {
    top: 60px;
    background-color: $background_color;
  }
}

/******courses section layout*****/
.menu__detail {
  display: flex;
  flex-direction: column;
}

/******courses title layout*****/

.menu__detail__title {
  position: relative;
  font-size: $font-size-xbig;
  &::after {
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    width: 60px;
    border-bottom: solid 5px $tertiary_color;
  }
}

/******** dish btn layout*******/

//------------------------------->  animation place  <----------------------------

.menu__detail__btn-dish {
  cursor: pointer;
  position: relative;
  @extend %border_default;
  background-color: $fourth_color;
  height: $btn-menu-height;
  margin-bottom: 20px;
  @include border-radius('all', $btnMenuRadius);
  @include _DG_box-shadow_default();
  display: flex;
  width: 100%; //new for tablet & laptop screen
  max-width: 600px; //new for tablet & laptop screen
  transition: box-shadow 0.5s ease-in-out; //transition

  /*****animation menu****/

  transform-origin: top;
  animation-name: menu_apparition;
  animation-duration: $anim_menu_duration;
  animation-timing-function: ease-in-out;
  @for $i from 1 through $num_menu {
    &--#{$i} {
      animation-delay: $anim_menu_delay * $i;
    }
  }

  /****hover effect btn menu*****/
  &:hover {
    @include _DG_box-shadow_default($shadow-color: $hover-shadow-color);
  }

  &:hover .dish__icon-check {
    transform: scaleX(1);
    & i {
      transform: rotate(360deg);
    }
  }

  &:hover .dish__price {
    transform: translateX(-$btn-menu-height);
  }

  &:hover .dish__leftCol {
    width: 60%;
  }
}

/****btn title & description layout******/

.dish__leftCol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px 0 0 10px;
  width: 70%;
  height: 100%;
  transition: width 0.2s ease-in-out; //transition
}

.dish__title {
  margin: 0;
  font-size: $font-size-big;
  flex: 0 0 50%;
  width: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish__detail {
  margin: 0;
  font-size: $font-size-regular-up;
  color: $text_tertiary_color;
  flex: 0 0 50%;
  width: 100%;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****btn price layout******/

.dish__price {
  display: block;
  width: $btn-menu-height;
  font-size: $font-size-regular-up;
  font-weight: bold;
  height: calc(70px - 10px);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.25s ease-in-out; //transition
}

/****btn icon check layout******/

.dish__icon-check {
  position: absolute;
  right: 0;
  top: 0;
  width: $btn-menu-height;
  height: $btn-menu-height;
  background-color: $tertiary_color;
  font-size: $font-size-xbig;
  @include border-radius('right', $btnMenuRadius);
  border: solid 1.5px $tertiary_color;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease-in-out; //transition
  & i {
    color: $fourth_color;
    transform: rotate(60deg);
    transition: transform 0.25s ease-in-out; //transition
  }
}

/*****order button layout******/

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.order_btn {
  width: 180px;
}

/**********media queries***************/

@media screen and (min-width: 576px) {
  .menu__detail {
    display: flex;
    align-items: center;
  }
  .menu__card_name {
    text-align: center;
  }
}

/*********************menu page end************************/
