/*****************selection section start*************/

.selection {
  height: $selection-height;
  background-color: blue;
}

.selection__h2 {
  padding: 50px 0 30px 30px;
  margin: 0;
  font-size: $font-size-xbig;
}

.selection__container {
}

.selection__btn {
}

.selection__btn--modified {
}

.selection__btn span {
}

.selection__btn i {
}

.selection__btn p {
}

/*****************selection section end***************/
