//colors
$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;
$fourth_color: #fff;
$fiveth_color: #000000;
$background_color: rgb(245, 245, 245);
$text_primary_color: #000000;
$text_secondary_color: #fff;
$text_tertiary_color: grey;

//font families
$font-family-text: 'Roboto', 'Times New Roman', Times, sans-serif;
$font-family-Title: 'Shrikhand', 'cursive', 'Times New Roman', Times, serif;
$font-family-logo: 'Shrikhand', 'cursive', 'Times New Roman', Times, serif;

//default font size:

$default_font_size: 16pt;

$font-size-regular: 1rem;
$font-size-xxsmall: $font-size-regular * 0.25;
$font-size-xsmall: $font-size-regular * 0.5;
$font-size-small: $font-size-regular * 0.75;
$font-size-regular-up: $font-size-regular * 1.15;
$font-size-big: $font-size-regular * 1.25;
$font-size-xbig: $font-size-regular * 1.5;
$font-size-xxbig: $font-size-regular * 2;

//section height:
$header-height: 50px;
$presentation-height: 350px;
$selection-height: 450px;
$card_height: 350px;
$bkg-menu-height: 400px;
$btn-menu-height: 70px;

//box-shadow default settings:
$default-offset-x: 5px;
$default-offset-y: 5px;
$default-blur: 5px;
$default-shadow-color: darken($background_color, 10%);
$hover-shadow-color: darken($background_color, 15%);

//border-radius:
$defaultRadius: 5px;
$btnMenuRadius: 15px;
$cardRadius: 20px;
