//colors
$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;
$text_primary_color: #000000;

//font families
$font-family-text: 'Roboto', 'Times New Roman', Times, sans-serif;
$font-family-Title: 'Shrikhand', 'cursive', 'Times New Roman', Times, serif;
$font-family-logo: 'Shrikhand', 'cursive', 'Times New Roman', Times, serif;

//default font size:

$default_font_size: 16pt;

$font-size-regular: 1rem;
$font-size-small: $font-size-regular * 0.75;
$font-size-big: $font-size-regular * 1.5;
