/******************header start*************************/

header {
  height: $header-height;
  display: flex;
  position: relative;
  margin: 10px 0;
  & figure {
    width: 200px;
    align-self: center;
    margin: 0 auto;
  }
}

.header__btn {
  @extend %border_default;
  height: $header-height;
  width: $header-height;
  background-color: white;
  cursor: pointer;
  color: $text_primary_color;
  font-size: $font-size-xbig;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn--visible {
  display: none;
}

/******************header end*************************/
